services:
  redis:
    image: "redis:latest"
  server:
    depends_on:
      - redis
    build:
      dockerfile: Dockerfile.dev
      context: ./
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - NODE_OPTIONS=--loader=ts-node/esm
    volumes:
      - /app/node_modules
      - ./:/app
