services:
  redis:
    image: "redis:latest"
  server:
    depends_on:
      - redis
    build:
      dockerfile: Dockerfile.dev
      context: ./
    volumes:
      - /app/node_modules
      - ./:/app
